* {
  box-sizing: border-box;
}

form {
  position: absolute;
  top: calc(50% - 268px);
  left: calc(50% - 187px);
}
.register-image {
  width: 98px;
  height: 42px;
}
.image {
  text-align: center;
}
.inputs {
  margin-top: 99px;
}
.input-wrapper {
  position: relative;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.input-register {
  display: inline-block;
  text-align: center;
  width: 375px;
  padding: 19px 16px;
  border: 0;
  outline: 0;
  font-size: 17px;
  line-height: calc(22 / 17 * 100%);
  opacity: 0.3;
}
.input-active {
  opacity: 1;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}
.btn-register {
  display: block;
  width: 149px;
  padding: 14px 7px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid transparent;
  font-size: 17px;
  line-height: calc(22 / 17 * 100%);
  font-weight: 600;
  color: rgba(60, 60, 67, 0.3);
}
.btn-active {
  border-color: #002DFF;
  color: #002DFF;
}
footer {
  text-align: center;
}
.register-text {
  margin-top: 52px;
  font-size: 15px;
  line-height: 133%;
  color: rgba(60, 60, 67, 0.6);
}
a {
  font-weight: 600;
  color: #002DFF;
  text-decoration: none;
}
.cross-icon {
  display: inline-block;
}
.cross-icon:before {
  content: '';
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 0;
  width: 40px;
  height: 42px;
  margin-right: 5px;
  cursor: pointer;
  background: url('/src/assets/icons/clear.svg') center no-repeat;
}