* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.slider__buttons {
    width: 343px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 8.91px;
}

.slider__button-wrapper {
    flex: 1 0 auto;
    height: 100%;
    padding: 2px;
}

.slider__button {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000000;
}

.slider__button_active {
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.93px;
    font-weight: 600;
}